body{
    background-image: url("../img/burdick.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#account-details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .90;
    width: 1000px;
    height: 700px;
    border: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    margin: none;
    background-image: linear-gradient(white, rgb(177, 177, 177));
	text-align: center;
}


tr, th, p{
    position: relative;
}

table{
    position: absolute;
    margin-bottom: 200px;
}

header {
	font: Georgia;
	font-size: large;
}
